@model IEnumerable<VideoAsp.Models.Video>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Video</title>
</head>
<body>
    <table>
        @foreach (var Video in Model)
        {
            <tr>
                <td>@Video.Id</td>
                <td>@Video.Title</td>
            </tr>
        }
    </table>
</body>
</html>