@model IEnumerable<VideoAsp.ViewModels.VideoViewModel>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Video</title>
</head>
<body>
    <table>
        @foreach (var Video in Model)
        {
            <tr>
                <td>@Html.ActionLink(Video.Id.ToString(), "Details", new { id = Video.Id })</td>
                <td>@Video.Title</td>
                <td></td>
                <td>@Video.Genre</td>
            </tr>
        }
    </table>
</body>
</html>